.modalWrap {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333e3;
}

.modalWindow {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 44, 51);
    border-radius: 24px;
    padding: 65px 30px 30px 30px;
    & > button {
        position: absolute;
        top: 25px;
        right: 25px;
        background-color: transparent;
        outline: none;
        border: none;
        color: inherit;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        transition: color .3s ease-in;
        &:hover {
            color: green;
        }
    }
}