.message {
    max-width: 30%;
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 25px;
    word-break: break-word;
    overflow-wrap: break-word;
    &_out {
        background-color: green;
        align-self: flex-end;
    }
    &_in {
        background-color: #333;
    }
}